<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.KEA">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".CrossCheck"
            android:exported="false" />
        <activity
            android:name=".SharedEvents"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEvent"
            android:exported="false" />
        <activity
            android:name=".HolyShit"
            android:exported="false" />

        <activity
            android:name=".RegisterUser"
            android:exported="false" />
        <activity
            android:name=".NavActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarActivity2"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity3"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity4"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity5"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity6"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity7"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity8"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity9"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity10"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity11"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity12"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity13"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity14"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>